<div>
  <h2 style="color:slateblue; text-align:center">{{headline}}</h2>
  <h3>{{title}}</h3>
  <p>{{firstname}} {{lastname}} is great!</p>
</div>
<!-- {{headline}}: Can you see me? Then it works! -->